#--------------------------------------------------------------------------------
# Workflow configuration
#--------------------------------------------------------------------------------

name: build-desktop
on:
  workflow_dispatch:

#--------------------------------------------------------------------------------
# Define application name & version
#--------------------------------------------------------------------------------

env:
  VERSION: "1.1.0"
  EXECUTABLE: "densitometer"
  APPLICATION: "Printalyzer Densitometer Desktop"

#--------------------------------------------------------------------------------
# Workflow jobs (GNU/Linux, macOS & Windows)
#--------------------------------------------------------------------------------

jobs:
  #
  # GNU/Linux build (we run on Ubuntu 22.04 to generate AppImage)
  #
  build-linux:
    if: false #XXX Temporarily disable for testing
    runs-on: ubuntu-22.04
    steps:
      #
      # Checkout the repository
      #
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      #
      # Prepare correct CMake version
      #
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.25.x'

      #
      # Install Qt
      #
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.3'
          modules: 'qtserialport'
          cache: 'true'
          
      #
      # Install additional dependencies, stolen from:
      # https://github.com/mapeditor/tiled/blob/master/.github/workflows/packages.yml
      #
      - name: Install dependencies
        run: |
             sudo apt-get update
             sudo apt-get install libgl1-mesa-dev libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxcb-xinerama0 libzstd-dev libudev-dev libusb-1.0-0-dev libhidapi-dev libfuse2
        
      #
      # Compile the application
      #
      - name: Configure
        working-directory: ${{github.workspace}}
        run: cmake . -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -B ${{github.workspace}}/build

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: make -j $(nproc)
        
      #
      # Create the AppImage
      #
      - name: Create AppImage
        working-directory: ${{github.workspace}}/build
        run: |
             make DESTDIR=appdir install
             wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage" -O linuxdeployqt
             chmod a+x linuxdeployqt
             mkdir -p appdir/usr/share/applications
             mkdir -p appdir/usr/share/icons
             cp ../deploy/linux/*.desktop appdir/usr/share/applications/
             cp ../deploy/linux/*.png appdir/usr/share/icons/
             ./linuxdeployqt appdir/usr/share/applications/*.desktop -appimage -extra-plugins=iconengines,platformthemes
     
      #
      # Rename AppImage to match "%AppName%-%Version%-Linux.AppImage" format
      #
      - name: Rename AppImage
        working-directory: ${{github.workspace}}/build
        run: mv *.AppImage ${{env.EXECUTABLE}}-${{env.VERSION}}-Linux.AppImage
        
      #
      # Upload AppImage to build artifacts
      #
      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.EXECUTABLE}}-${{env.VERSION}}-Linux.AppImage
          path: ${{github.workspace}}/build/${{env.EXECUTABLE}}-${{env.VERSION}}-Linux.AppImage
             
  #
  # macOS build
  #
  build-mac:
    if: false #XXX Temporarily disable for testing
    runs-on: macos-latest
    steps:
      #
      # Checkout the repository
      #
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      #
      # Prepare correct CMake version
      #
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.25.x'

      #
      # Install Qt
      #
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.3'
          modules: 'qtserialport'
          cache: 'true'
      
      #
      # Compile application
      #
      - name: Configure
        working-directory: ${{github.workspace}}
        run: cmake . -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -B ${{github.workspace}}/build

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: make -j $(nproc)

      #
      # Code signing setup
      #
      - name: Codesign setup
        working-directory: ${{github.workspace}}/build
        env:
          MACOS_DEV_CERTIFICATE: ${{secrets.MACOS_DEV_CERTIFICATE}}
          MACOS_DEV_CERTIFICATE_PASSWORD: ${{secrets.MACOS_DEV_CERTIFICATE_PASSWORD}}
        run: |
             echo $MACOS_DEV_CERTIFICATE | base64 --decode > certificate.p12
             security create-keychain -p b4ldkChain1234 build.keychain
             security default-keychain -s build.keychain
             security unlock-keychain -p b4ldkChain1234 build.keychain
             security import certificate.p12 -k build.keychain -P "$MACOS_DEV_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
             security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k b4ldkChain1234 build.keychain
             
      #
      # Deploy application
      #
      - name: Deploy app
        working-directory: ${{github.workspace}}/build
        env:
          MACOS_DEV_IDENT: ${{secrets.MACOS_DEV_IDENT}}
        run: |
             mv "${{env.EXECUTABLE}}.app" "${{env.APPLICATION}}.app"
             macdeployqt "${{env.APPLICATION}}.app" -sign-for-notarization="$MACOS_DEV_IDENT" -dmg
             mv "${{env.APPLICATION}}.dmg" ${{env.EXECUTABLE}}-${{env.VERSION}}-macOS.dmg

      #
      # ZIP application "%AppName%-%Version%-macOS.zip"
      # We use ditto instead of zip to use the same commands as Finder
      #
      # - name: Create ZIP file
      #   working-directory: ${{github.workspace}}/build
      #   run: |
      #        ditto -c -k --sequesterRsrc --keepParent "${{env.APPLICATION}}.app" ${{env.EXECUTABLE}}-${{env.VERSION}}-macOS.zip
     
      #
      # Upload DMG to build artifacts
      #
      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.EXECUTABLE}}-${{env.VERSION}}-macOS.dmg
          path: ${{github.workspace}}/build/${{env.EXECUTABLE}}-${{env.VERSION}}-macOS.dmg
          
  #
  # Windows build
  #
  build-windows:
    runs-on: windows-latest
    steps:
      #
      # Checkout the repository
      #
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      #
      # Prepare correct CMake version
      #
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.25.x'

      #
      # Configure MSVC
      #
      - name: Configure MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          spectre: true

      #
      # Install Qt
      #
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.3'
          modules: 'qtserialport'
          cache: 'true'
          
      #
      # Install NSIS
      #  
      - name: Install NSIS
        run: |
             (New-Object System.Net.WebClient).DownloadFile('https://get.scoop.sh', 'scoop.ps1') 
             ./scoop.ps1 -RunAsAdmin
             scoop bucket add extras
             scoop install nsis
 
      #
      # Compile application
      #
      - name: Configure
        working-directory: ${{github.workspace}}
        run: cmake . -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -G "NMake Makefiles" -B ${{github.workspace}}/build

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: nmake
             
      #
      # Copy Qt & OpenSSL DLLs, compiler runtime & application icon
      #       
      - name: Deploy
        working-directory: ${{github.workspace}}/build
        run: |
             mkdir bin
             move ${{env.EXECUTABLE}}.exe bin
             windeployqt bin/${{env.EXECUTABLE}}.exe --compiler-runtime
             mkdir "${{env.APPLICATION}}"
             move bin "${{env.APPLICATION}}"
             xcopy ..\deploy\windows\resources\icon.ico "${{env.APPLICATION}}"
             xcopy ..\deploy\windows\openssl\*.dll "${{env.APPLICATION}}\bin"
      
      #
      # Sign build
      #
      - name: Sign build with Trusted Signing
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{secrets.AZURE_TENANT_ID}}
          azure-client-id: ${{secrets.AZURE_CLIENT_ID}}
          azure-client-secret: ${{secrets.AZURE_CLIENT_SECRET}}
          endpoint: https://wus2.codesigning.azure.net/
          trusted-signing-account-name: dektronics
          certificate-profile-name: code-sign-profile
          files-folder: ${{github.workspace}}/build
          files-folder-filter: exe,dll
          files-folder-recurse: true
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      #
      # Create NSIS installer
      #
      - name: Make NSIS installer
        working-directory: ${{github.workspace}}/build
        run: |
             move "${{env.APPLICATION}}" ..\deploy\windows\nsis\
             cd ..\deploy\windows\nsis
             makensis /X"SetCompressor /FINAL lzma" setup.nsi
             ren *.exe ${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe

      #
      # Sign installer
      #
      - name: Sign installer with Trusted Signing
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{secrets.AZURE_TENANT_ID}}
          azure-client-id: ${{secrets.AZURE_CLIENT_ID}}
          azure-client-secret: ${{secrets.AZURE_CLIENT_SECRET}}
          endpoint: https://wus2.codesigning.azure.net/
          trusted-signing-account-name: dektronics
          certificate-profile-name: code-sign-profile
          files: ${{github.workspace}}/build/${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      #
      # Upload installer to build artifacts
      #
      - name: Upload NSIS installer
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe
          path: ${{github.workspace}}/deploy/windows/nsis/${{env.EXECUTABLE}}-${{env.VERSION}}-Windows.exe
